<a href="https://colab.research.google.com/github/sagar9926/Python_For_DataScience/blob/master/PythonTraining/Python_Training_Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Table of Content:
* [Small test](#test)
* [More Data Types](#more_types)
* [Conditional statements, Loops](#loops)
* [File I/O](#io)
* [Exception Handling](#handling)
* [Answers](#answer)

In [ ]:
# Small test

def operation(x, y):
    return x+y

def another_operation(func, x, y):
    return func(func(x,y), func(x,y))

a = 5
b = 25

print(another_operation(operation, a, b))

60

# More Data Types <a name="more_types"></a>

__List of immutable objects:__
* bool
* int
* float
* str
* tuple
* frozenset

__List of mutable objects:__
* list
* set
* dict

## List

List is a type of __mutable__ object in Python used to store an __indexed__ list of item. It is created using __square brackets__ with commas separating the items. A certain item from the list can be accessed using it's index number.

An empty list is created using an empty pair of square brackets.

A list can contain items of a __single item type or multiple item type__. A list within a list is also possible which is used to represent 2D grids as Python, by default, lacks multi-dimensional array feature. But this can be achieved using __numpy__ which we will discuss in our Advanced Notebook.

__NOTE: Strings can be indexed like a list__.

In [ ]:
empty_list = []

words = ['Python',3.6,['Up Next','Tuple']]

print(words[0])
print(words[2][1])

print(words[1])
words[1]=2.7
print(words)

## accessing items of string by index
short_form = "User Defined Function"
print("In our last class, we went through {}{}{}".format(short_form[0], short_form[5], short_form[13]))

Python
Tuple
3.6
['Python', 2.7, ['Up Next', 'Tuple']]
In our last class, we went through UDF

In [ ]:
## basic list operations
num_list = [1,2,3]
print(num_list + [4,5,6])
print(num_list * 2)
print(num_list + num_list)
print(4 in num_list)
print(9 not in num_list)
print(not 1 in num_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3]
False
True
False

In [ ]:
# list functions and methods
num = [1,2,3]
num.append(4) # [1,2,3,4]
num.append([5,6]) # [1,2,3,4,[5,6]]
print(num)
print(len(num))

num.extend([7,8,9]) # [1,2,3,4,[5,6],7,8,9]
print(num)
print(len(num))

index = 2
num.insert(index, 2.5)
print(num)

print("=" * 50)

print(num.index(3))
print(num.index(2.0))

num.remove([5,6])
num.pop(0)
print(num)


print(max(num))
print(num.count(5))

num.reverse()
print(num)

[1, 2, 3, 4, [5, 6]]
5
[1, 2, 3, 4, [5, 6], 7, 8, 9]
8
[1, 2, 2.5, 3, 4, [5, 6], 7, 8, 9]
==================================================
3
1
[2, 2.5, 3, 4, 7, 8, 9]
9
0
[9, 8, 7, 4, 3, 2.5, 2]

In [ ]:
num.reverse()
print(num)

[2, 2.5, 3, 4, 7, 8, 9]

In [ ]:
num[:]

[2, 2.5, 3, 4, 7, 8, 9]

In [ ]:
num[0 : 3]

[2, 2.5, 3]

In [ ]:
num[0 : 5 : 2]
# num[start : end : jump ]
#elements :  0 , 0 + 2 , 0 + 2 + 2

[2, 3, 7]

In [ ]:
num[-1]

9

In [ ]:
num[-2]

8

In [ ]:
print(num)

[2, 2.5, 3, 4, 7, 8, 9]

In [ ]:
# num[start : end : jump ]
# Reversing a list
num[ : : -1]

# 0  - 1, 0 - 1 - 1

[9, 8, 7, 4, 3, 2.5, 2]

In [ ]:
#Call By Reference

list1 = [1,2,3]
list2 = list1

list2[0] = 100

print(list1)
print(list2)

[100, 2, 3]
[100, 2, 3]

In [ ]:
# Why list is mutable

list1 = [1,2,3]

print(hex(id(list1)))

list1[0] = 100

print(hex(id(list1)))

0x7f23e9f3a050
0x7f23e9f3a050

## Tuple

Tuple is a __immutable__ Python object created using __Parentheses__ with commas separating the items which can be accessed using it's index number.

It is just like list, except __you cannot modify or re-assign a value in the tuple. It will throw TypeError__.

An empty tuple can also be created in the same way you create empty list.

__NOTE: Tuples can also be created without using Parentheses, simply separated by commas.__

### But when should we put parenthesis on tuples, and when we shouldn't?

__Answer__: We use parentheses for __nested tuple__.

In [ ]:
x = (1,2,3)
print(type(x))

<class 'tuple'>

In [ ]:
x = 1,
print(type(x))

<class 'tuple'>

In [ ]:
x = 1,2,3
print(type(x))

<class 'tuple'>

In [ ]:
empty_tuple = ()

my_tuple = ("is", "my", "tuple")
print(my_tuple[2])
my_tuple_l = list(my_tuple)
print(type(my_tuple_l),my_tuple_l)

tuple
<class 'list'> ['is', 'my', 'tuple']

In [ ]:
my_tuple[2] = "TUPLE"

TypeError: ignored

In [ ]:
my_tuple_l[2] = "TUPLE"
my_tuple_l

['is', 'my', 'TUPLE']

In [ ]:
my_tuple = tuple(my_tuple_l)
print(my_tuple)

('is', 'my', 'TUPLE')

In [ ]:
also_my_tuple = 'is', 'this', 'one'
print(also_my_tuple[2])

one

In [ ]:
special_case = (1,2,[3,4])
print(type(special_case))
print(hex(id(special_case)))

special_case[2][0] = 10000

print(type(special_case))
print(hex(id(special_case)))
print(special_case)

<class 'tuple'>
0x7f23ec2247d0
<class 'tuple'>
0x7f23ec2247d0
(1, 2, [10000, 4])

In [ ]:
special_case[0] = 10000

TypeError: ignored

In [ ]:
special_case[0]

1

In [ ]:
special_case[1]

2

## Dictionaries

Dictionaries are data structures used __to map keys to values__. Just like list, they are __mutable__ and made using __curly brackets__. 

Dictionaries can be indexed in the same way as lists, __using square brackets containing keys__. Trying to index a key that isn't a part of the dictionary returns a __KeyError__.

The useful dictionary method is __get__. It does same thing as indexing, but if the key is not found in the dictionary, it returns __None__ instead of throwing any error.

__NOTE: Only immutable objects can be used as keys to dictionaries.__

# LSD Mutable

In [ ]:
empty_dict = {}

my_dict = {"Joker":'Why so serious?', "Bane": [1,2,3], "Scarecrow": 0.05}
print(my_dict["Joker"])
print(my_dict["Scarecrow"])
print(my_dict["Bane"])

Why so serious?
0.05
[1, 2, 3]

# Keys always have to be immutable

In [ ]:
my_dict_again = {(1,2,3):[1,2,3], ('a','b','c'):['a','b','c']}
print(my_dict_again[(1,2,3)])

[1, 2, 3]

In [ ]:
my_dict_again = {[1,2,3]:(1,2,3), ('a','b','c'):['a','b','c']}
print(my_dict_again[(1,2,3)])

TypeError: ignored

In [ ]:

my_dict_again['sagar'] = 'd'
print(my_dict_again)

{(1, 2, 3): [1, 2, 3], ('a', 'b', 'c'): ['a', 'b', 'c'], 'sagar': 'd'}

__Quick Question: How to check whether a variable is mutable or not?__ [Answer](#ans1)

In [ ]:
my_dict_error = {[1,2,3]:'a'}

TypeError: ignored

### What does this error mean?
An object is __hashable__ if it has a hash value which never changes during its lifetime (it needs hash() method). List is unhashable because it's content can change over its lifetime.

__NOTE__: Don't know about Hash function? Think about it as the fingerprint of a file in an encrypted format. For details, search in Google.

In [ ]:
# How about a dictionary within a dictionary?
my_dict_yet_again = {0:"infinity", 1:{'a':[1,2]}, 'b':{2: (3,4)}}
print(my_dict_yet_again)
print(my_dict_yet_again[1])

{0: 'infinity', 1: {'a': [1, 2]}, 'b': {2: (3, 4)}}
{'a': [1, 2]}

In [ ]:
print(my_dict_yet_again.values())

dict_values(['infinity', {'a': [1, 2]}, {2: (3, 4)}])

In [ ]:
print(my_dict_yet_again.keys())

dict_keys([0, 1, 'b'])

In [ ]:

# Some dictionary functions
print(1 in my_dict_yet_again) # check if a key is available in the dictionary
print({'a':[1,2]} in my_dict_yet_again.values()) #check if the value is available in the dictionary

my_dict_yet_again[True-1] = "zero"
print(my_dict_yet_again)

True
True
{0: 'zero', 1: {'a': [1, 2]}, 'b': {2: (3, 4)}}

### Create dictionary from two lists!

We can use __zip__ to generate dictionaries where the keys and values can be obtained from lists at runtime.

In [ ]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]

print(list(zip(keys,values)))

print(dict(zip(keys,values)))

[('a', 1), ('b', 2), ('c', 3)]
{'a': 1, 'b': 2, 'c': 3}

In [ ]:
keys = ['a', 'b', 'a']
values = [3, 2, 1]

print(list(zip(keys,values)))

print(dict(zip(keys,values)))

[('a', 3), ('b', 2), ('a', 1)]
{'a': 1, 'b': 2}

In [ ]:
my_dict_yet_again

{0: 'zero', 1: {'a': [1, 2]}, 'b': {2: (3, 4)}}

In [ ]:
my_dict_yet_again[True]=False
print(my_dict_yet_again)

{0: 'zero', 1: False, 'b': {2: (3, 4)}}

In [ ]:
help(my_dict_yet_again.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

In [ ]:
print(my_dict_yet_again.get(1)) # get method
print(my_dict_yet_again.get(2))
print(my_dict_yet_again.get("True","True string is not available as key"))

False
None
True string is not available as key

## Set and Frozenset

Sets are Python object similar to lists or dictionaries. They are created using __curly braces__ or the __set function__. They are __unordered__, which means that they __can't be indexed__. They __cannot contain duplicate elements__. Due to the way they're stored, it's __faster to check whether an item is part of a set__, rather than part of a list.

Instead of using __append__ to add an item to a set, we use __add__. The method __remove__ removes a specific element from a set but __pop__ removes an arbitrary element.

The frozenset() is an inbuilt function in Python which takes an iterable object as input and makes them immutable.

In [ ]:
my_set = set((2.7,"3.6"))
also_my_set = {2.7 , 3.6}
my_frozenset = frozenset(["Python","2.7"])

In [ ]:
my_set.add(6)
print(my_set)
print(my_frozenset)

{2.7, '3.6', 6}
frozenset({'2.7', 'Python'})

In [ ]:
my_frozenset[0] = 100

TypeError: ignored

In [ ]:
# Set always stores unique values

s = {1,2,3,3,3,3,4,4,4,4}
print(s)

s = set("priyaraghuwanshisagaragrawal")
print(s)

{1, 2, 3, 4}
{'w', 'u', 'p', 'r', 'i', 'g', 'l', 'n', 'y', 'a', 's', 'h'}

In [ ]:
s[0] = 100

TypeError: ignored

In [ ]:
#vars(random)

In [ ]:
import random
l = [random.randint(1,100) for _ in range(1000)]

In [ ]:
%%timeit
for i in l :
  pass

100000 loops, best of 5: 15.8 µs per loop

In [ ]:
%%timeit
for i in set(l) :
  pass

100000 loops, best of 5: 13.2 µs per loop

In [ ]:
my_set.remove(2.7)
my_set.pop()
print(my_set)

# some additional operations
first = {1, 2, 3, 4, 5, 6}
second = {4, 5, 6, 7, 8, 9}

print(first | second)
print(first & second)
print(first - second)
print(first ^ second)

{6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}
{1, 2, 3, 7, 8, 9}

### So, what are the operations that can be perfomed on mutable and immutable objects in Python?

#### Both mutable and immutable

| Operation | Result |
|:---:|:---:|
| len(s) | cardinality of set s |
| x in s | test x for membership in s |
| x not in s | test x for non-membership in s |
| s.issubset(t)	| test whether every element in s is in t |
| s.issuperset(t) | test whether every element in t is in s |
| s.union(t) | new set with elements from both s and t |
| s.intersection(t) | new set with elements common to s and t |
| s.difference(t) | new set with elements in s but not in t |
| s.symmetric_difference(t)	| new set with elements in either s or t but not both |
| s.copy() | new set with a shallow copy of s |

#### Only mutable

| Operation | Result |
|:---:|:---:|
| s.update(t) | update set s, adding elements from t
| s.intersection_update(t)	| update set s, keeping only elements found in both s and t
| s.difference_update(t) | update set s, removing elements found in t
| s.symmetric_difference_update(t) | update set s, keeping only elements found in either s or t but not in both
| s.add(x) | add element x to set s
| s.remove(x) | remove x from set s; raises KeyError if not present
| s.discard(x) | removes x from set s if present
| s.pop() | remove and return an arbitrary element from s; raises KeyError if empty
| s.clear() | remove all elements from set s

### Also, when to use these data structures?

When to use a __dictionary__:
- When you need a logical association between a key:value pair.
- When you need fast lookup for your data, based on a custom key.
- When your data is being constantly modified.

When to use the __other types__:
- Use __lists__ if you have a collection of data that does not need random access. Try to choose lists when you need a simple, iterable collection that is modified frequently.
- Use a __set__ if you need uniqueness for the elements.
- Use __tuples__ when your data cannot change.

# Conditional statements, loops <a name="loops"></a>

## if, elif, else

Python uses __if__ statements to run code if a certain condition holds _True_, otherwise they aren't.

__NOTE__: Python uses __indentation__ (white space at the beginning of a line) to delimit blocks of code. Other languages, such as C, use curly braces to accomplish this, but in Python, indentation is mandatory; programs won't work without it.

__To perform more complex checks__, _if_ statements can be __nested__, one inside the other. This means that the inner _if_ statement is the statement part of the outer one.

An __else__ statement follows an _if_ statement, and contains code that is called when the _if_ statement evaluates to _False_.

The __elif__ (short for else if) statement is a shortcut to use when __chaining if and else statements__. A series of _if elif_ statements can have a final else block, which is called if none of the _if_ or _elif_ expressions is _True_.

In [ ]:
x = input("Enter a number from 0 to 9: ")
print(type(x))
num = int(x)

if num == 3:
    print("You got 3")
elif num == 6:
    print("Number is 6")
elif num == 9:
    print("Looks like 9")
else:
    print("`If you knew the magnificence of the three, six and nine, you would have a key to the universe.` ~ Tesla")

Enter a number from 0 to 9: 6
<class 'str'>
Number is 6

## for

The __for__ loop is commonly used to repeat some code a certain number of times on an object known as __iterator__. This is done by combining for loops with __range__ objects.

The function range by default starts counting from 0 and goes up to the n-th value i.e. till (n-1). Its first parameter is the starting point, second one is the ending point (n-th value), and the optional third is the step value.

In [ ]:
x = range(5) #iterable
print(x)
print(list(x))

range(0, 5)
[0, 1, 2, 3, 4]

In [ ]:
#help(range)

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(5):
    if i < 3:
        print("hello!")
    else:
        print("world")
        
print("-----------------")

hello!
hello!
hello!
world
world
-----------------

In [ ]:
for i in range(2,12,3):
    print(i)

2
5
8
11

In [ ]:
# for loop through list
lst = [1,2,3,(4,4.5,5),6]

for i in lst:
    print(i)

1
2
3
(4, 4.5, 5)
6

In [ ]:
#help(print)

In [ ]:
# for loop through list
lst = [1,2,3,(4,4.5,5),6]

for i in lst:
    print(i,end = ',')

1,2,3,(4, 4.5, 5),6,

In [ ]:
lst1 = [1,2,3,4]
lst2 = [5,6,7,8]

for i,j in zip(lst1,lst2):
  print(i,"sagar",j,sep = '______________')

1______________sagar______________5
2______________sagar______________6
3______________sagar______________7
4______________sagar______________8

In [ ]:
t1 = {}
type(t1)

dict

In [ ]:
t1 = {1}
type(t1)

set

In [ ]:
t1 = set()
type(t1)

set

In [ ]:
# another way of creating dictionary

keys = ['a', 'b', 'c']
values = [1, 2, 3]

my_new_dict = {}

for (k,v) in zip(keys, values):
    my_new_dict[k] = v
    
print(my_new_dict)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
temp = {'a': 1, 'b': 2, 'c': 3}
temp['d'] = 100
print(temp)

{'a': 1, 'b': 2, 'c': 3, 'd': 100}

### Two questions for you guys

1. Ever wondered why people use _i_ in for loop?
2. What is the difference between __range(x)__ and __list(range(x))__?

In [ ]:
print(list(range(5)))
print((range(5)))

[0, 1, 2, 3, 4]
range(0, 5)

### Answer

1. The i stands for the item to be accessed from any iterable or range object.

2. When you execute _?range_, it will say that range returns an object that produces a sequence of integers from start (inclusive) to stop (exclusive) by step __without assigning indexes to the values__. Rather, it generates only one number at a time, relying on a __for__ loop to request for the next item in the range to be seen. However, __list(range()) does assign indices__ and hence allows you to see the full sequence of the numbers immediately, without the assistance of a _for_ loop.

## while

An __if__ statement is __run once__ if its condition evaluates to _True_. A __while__ statement is similar, except that it can be __run more than once__. The statements inside it are repeatedly executed, as long as the condition holds _True_. Once it evaluates to False, the next section of code is executed.

The __infinite loop__ is a special kind of while loop where the condition is always True and never stops iterating.

To end a while loop prematurely, the __break__ statement can be used inside the loop.

When a continue statement is encountered, the code flow jumps back to the top of the loop, rather than stopping it. Basically it __stops the current iteration__ and continues with the next one.

In [ ]:
import time

mewtwo_cp = 30
umbreon_dark_pulse = 3
fight = True

print("You attacked Mewtwo! CP left: {}".format(mewtwo_cp))

while fight:
    print("Umbreon used Dark Pulse!\n")
    mewtwo_cp = mewtwo_cp - umbreon_dark_pulse
    
    if mewtwo_cp == 15:
        print("He's halfway dead!") 
        continue
    elif mewtwo_cp == 9: 
        print("Take him down!")
        continue
    elif mewtwo_cp == 3:
        print("Now's your chance") 
        continue
    
    if mewtwo_cp <= 0:
        print("Dead!")
        break
    
    print("Mewtwo CP left: {}".format(mewtwo_cp))
    time.sleep(1)
    
print("Congrats! Your Umbreon won.")

You attacked Mewtwo! CP left: 30
Umbreon used Dark Pulse!

Mewtwo CP left: 27
Umbreon used Dark Pulse!

Mewtwo CP left: 24
Umbreon used Dark Pulse!

Mewtwo CP left: 21
Umbreon used Dark Pulse!

Mewtwo CP left: 18
Umbreon used Dark Pulse!

He's halfway dead!
Umbreon used Dark Pulse!

Mewtwo CP left: 12
Umbreon used Dark Pulse!

Take him down!
Umbreon used Dark Pulse!

Mewtwo CP left: 6
Umbreon used Dark Pulse!

Now's your chance
Umbreon used Dark Pulse!

Dead!
Congrats! Your Umbreon won.

# File I/O <a name="io"></a>

Python can be used to __read__ and __write__ the contents of files. Text files are the easiest to manipulate.

### open
Before a file can be edited, it must be _opened_, using the __open__ function. The __argument__ of the open function is the _path to the file_. If the file is in the current working directory of the program, you can specify only its name.

### mode
There are __mode__ used to open a file by applying a _second argument_ to the open function.
* "r" means open in __read__ mode, which is the default.
* "w" means __write__ mode, for rewriting the contents of a file.
* "a" means __append__ mode, for adding new content to the end of the file.
* "b" means __binary__ mode, which is used for non-text files (such as image and sound files).

### read
The contents of a file that has been opened in text mode can be read using the __read__ method. To __read only a certain amount of a file, you can provide a number as an argument__ to the read function. This determines the __number of bytes__ that should be read.

After all contents in a file have been read, any attempts to read further from that file will return an _empty string_, because you are trying to read __from the end of the file__. 

To retrieve __each line__ in a file, you can use the __readlines__ method to _return a list in which each element is a line in the file_.

__NOTE__: There is a __readline__ and a __readlines__ method. _readline()_ reads one line character at a time, _readlines()_ reads in the whole file at once and splits it by line.

### write
To write to files we use the __write__ method, which writes a string to the file. The "w" mode will _create a file, if it does not already exist_. When a file is opened in write mode, the file's __existing content is deleted__. The write method __returns the number of bytes__ written to a file, if successful.

__NOTE__: If you need to write anything other than string on a file, it has to be converted to a string first.

### close
Once a file has been opened and used, it should be closed which is done with the __close__ method of the file object.

### Alternative approach of file access
An alternative way of doing it is using __with__ statements. This creates a temporary variable (often called __f__), which is only accessible in the indented block of the with statement. The file is __automatically closed__ at the end of the with statement, even if exceptions occur within it.

In [ ]:
#help(open)

In [ ]:
!ls

def_NN.txt  joker.txt  sample_data

In [ ]:
file = open("def_NN.txt", "r")
print("------- Reading the content -------\n")
file_content = file.read()

print(file_content)
print("------- Re-reading -------")
print(file.read())
print("------- Finished! --------\n")
print("------- Closing the file -------")
file.close()

# try readlines

------- Reading the content -------


------- Re-reading -------

------- Finished! --------

------- Closing the file -------

In [ ]:
file = open("joker.txt", "r")
print("------- Reading initial contents ------- \n")
print(file.read())
print("------- Finished ------- \n")
file.close()

file = open("joker.txt", "w")
amount_written = file.write("I believe whatever doesn't kill you simply makes you...stranger.")
print("Amount of text written: {}\n".format(amount_written))
file.close()

file = open("joker.txt", "r")
print("------- Reading new contents ------- \n")
print(file.read())
print("\n ------- Finished -------")
file.close()

------- Reading initial contents -------

hsjvjddvjvrjkvrjvrfjhvcjnjc
------- Finished -------

Amount of text written: 64

------- Reading new contents -------

I believe whatever doesn't kill you simply makes you...stranger.

 ------- Finished -------

In [ ]:
# alternative approach
with open("joker.txt",'r') as f:
    print(f.read())

I believe whatever doesn't kill you simply makes you...stranger.

# HomeWork 1 : 

Input : x = [1,1,1,1,1,1,1,2,2,1,1,2,2,1,2]

Output : [(1, 7),(2,2),(1,2),(2,2),(1,1),(2,1)]

In [ ]:
def run_length_encoding(seq):
  compressed = []
  count = 1
  char = seq[0]
  for i in range(1,len(seq)):
    if seq[i] == char:
      count = count + 1
    else :
      compressed.append([char,count])
      char = seq[i]
      count = 1
  compressed.append([char,count])
  return compressed

In [ ]:
x = [1,1,1,1,1,1,1,2,2,1,1,2,2,1,2]
run_length_encoding(x)

[[1, 7], [2, 2], [1, 2], [2, 2], [1, 1], [2, 1]]

# HomeWork 2 : Count occurance of an element

Input : x = [1,1,1,1,1,1,1,2,2,1,1,2,2,1,2,3,3,3,3,3]

Output : {1 : 10 , 2 : 5, 3 : 5}

In [ ]:
hash_dict = {}
x = [1,1,1,1,1,1,1,2,2,1,1,2,2,1,2,3,3,3,3,3]

for item in x :
  if item in hash_dict: #check for keys
    hash_dict[item] += 1   
  else :
    hash_dict[item] = 1

print(hash_dict)

{1: 10, 2: 5, 3: 5}

In [ ]:
text = """Shershaah (transl. Lion King) is a 2021 Indian Hindi-language biographical war film directed by Vishnuvardhan in his Bollywood debut and written by Sandeep Shrivastava. The film follows the life of Param Vir Chakra-awardee Captain Vikram Batra, from his first posting in the army to his death in the Kargil War. The film stars Sidharth Malhotra as Vikram Batra and Kiara Advani as his girlfriend Dimple Cheema. The film was produced by Dharma Productions and Kaash Entertainment, with Hiroo Yash Johar, Karan Johar, Apoorva Mehta, Shabbir Boxwala, Ajay Shah and Himanshu Gandhi serving as co-producers.[2]

Announced in May 2019, principal photography began in the same month and concluded in January 2020. Initially slated to be released on 3 July 2020, the film was postponed due to the COVID-19 pandemic.[3][4] The film then premiered on 12 August 2021 on Amazon Prime Video.[1] The film received mixed reviews from the critics, who praised Malhotra's performance and the action sequences but criticised the writing of the film.[5][6] On 31 August 2021, Amazon stated that Shershaah had become the most watched Indian film on the platform.[7]"""

In [ ]:
x = text.split(' ')

In [ ]:
for item in x :
  if item in hash_dict: #check for keys
    hash_dict[item] += 1   
  else :
    hash_dict[item] = 1

print(hash_dict)

{1: 10, 2: 5, 3: 5, 'Shershaah': 2, '(transl.\u2009Lion': 1, 'King)': 1, 'is': 1, 'a': 1, '2021': 2, 'Indian': 2, 'Hindi-language': 1, 'biographical': 1, 'war': 1, 'film': 8, 'directed': 1, 'by': 3, 'Vishnuvardhan': 1, 'in': 6, 'his': 4, 'Bollywood': 1, 'debut': 1, 'and': 6, 'written': 1, 'Sandeep': 1, 'Shrivastava.': 1, 'The': 5, 'follows': 1, 'the': 12, 'life': 1, 'of': 2, 'Param': 1, 'Vir': 1, 'Chakra-awardee': 1, 'Captain': 1, 'Vikram': 2, 'Batra,': 1, 'from': 2, 'first': 1, 'posting': 1, 'army': 1, 'to': 3, 'death': 1, 'Kargil': 1, 'War.': 1, 'stars': 1, 'Sidharth': 1, 'Malhotra': 1, 'as': 3, 'Batra': 1, 'Kiara': 1, 'Advani': 1, 'girlfriend': 1, 'Dimple': 1, 'Cheema.': 1, 'was': 2, 'produced': 1, 'Dharma': 1, 'Productions': 1, 'Kaash': 1, 'Entertainment,': 1, 'with': 1, 'Hiroo': 1, 'Yash': 1, 'Johar,': 2, 'Karan': 1, 'Apoorva': 1, 'Mehta,': 1, 'Shabbir': 1, 'Boxwala,': 1, 'Ajay': 1, 'Shah': 1, 'Himanshu': 1, 'Gandhi': 1, 'serving': 1, 'co-producers.[2]\n\nAnnounced': 1, 'May': 1, '2019,': 1, 'principal': 1, 'photography': 1, 'began': 1, 'same': 1, 'month': 1, 'concluded': 1, 'January': 1, '2020.': 1, 'Initially': 1, 'slated': 1, 'be': 1, 'released': 1, 'on': 4, '3': 1, 'July': 1, '2020,': 1, 'postponed': 1, 'due': 1, 'COVID-19': 1, 'pandemic.[3][4]': 1, 'then': 1, 'premiered': 1, '12': 1, 'August': 2, 'Amazon': 2, 'Prime': 1, 'Video.[1]': 1, 'received': 1, 'mixed': 1, 'reviews': 1, 'critics,': 1, 'who': 1, 'praised': 1, "Malhotra's": 1, 'performance': 1, 'action': 1, 'sequences': 1, 'but': 1, 'criticised': 1, 'writing': 1, 'film.[5][6]': 1, 'On': 1, '31': 1, '2021,': 1, 'stated': 1, 'that': 1, 'had': 1, 'become': 1, 'most': 1, 'watched': 1, 'platform.[7]': 1}

# Exception Handling <a name="handling"></a>

## Exception

__Exception__ occur when something goes wrong due to incorrect code syntax or logic or input. When an exception occurs, the program immediately stops and doesn't executes any lines further.

_Different exceptions are raised for different reasons._ Some common exceptions are listed below:
* __ImportError__: an import fails
* __IndexError__: a list is indexed with an out-of-range number
* __NameError__: an unknown variable is used
* __SyntaxError__: the code can't be parsed or processed properly
* __TypeError__: a function is called on a value of an inappropriate type
* __ValueError__: a function is called on a value of the correct type, but with an inappropriate value

Third-party libraries and modules define their own exceptions. Learn more about built-in exceptions [here](https://docs.python.org/3.7/library/exceptions.html)

Here are some examples of different built-in exceptions.

```
>>> list=[1,2,3] 
>>> print(list[3])
Traceback (most recent call last): File "<stdin>", line 1, in <module> 
IndexError: list index out of range 

>>> printf(a)
File "<stdin>", line 1 
printf a 
    ^ 
SyntaxError: invalid syntax

>>> print(a)
Traceback (most recent call last): File "<stdin>", line 1, in <module> 
NameError: name 'a' is not defined 

>>> import tk 
Traceback (most recent call last): File "<stdin>", line 1, in <module> 
ImportError: No module named tk 

>>> a=2+"hello"
Traceback (most recent call last): File "<stdin>", line 1, in <module> 
TypeError: unsupported operand type(s) for +: 'int' and 'str' 

>>> list.remove(0) 
Traceback (most recent call last): File "<stdin>", line 1, in <module> 
ValueError: list.remove(x): x not in list
```

## Exception Handling

To handle exceptions and call code when an exception occurs, we have to use a __try/except__ statement. 

### try-except

The __try__ block contains code that might throw an exception. If that exception occurs, the code in the try block stops executing, and the code in the __except__ block is run. If no error occurs, the code in the except block doesn't run.

A try statement can have multiple different except blocks to handle different exceptions. _Multiple exceptions can also be put into a single except block using __parentheses__,_ to have the except block handle all of them.

An except statement without any exception specified will catch all errors. __However, this kind of coding should be avoided.__ If you do this, you are going against the zen of Python.

Exception handling is particularly useful when
* dealing with user input
* sending stuff over network or saving large amounts of data, since issues happening with hardware like losing power or signal problems can happen

In [ ]:
try:
    variable = 10
    print(variable + "hello")
    num1 = 7
    num2 = 0
    print(num1 / num2)
    print("Done calculation")
except ZeroDivisionError:
    print("An error occurred due to zero division")
except (ValueError, TypeError):
    print("ERROR!")

ERROR!

__If we do not know what possible exceptions will arise, what do we do?__ [Answer](#ans2)

### raise
We can use __raise__ to throw an exception __if a condition occurs__. The statement can be complemented with a custom exception.

In [ ]:
x = 12
if x > 5:
    raise Exception('x should not exceed 5. The value of x was: {}'.format(x))

Exception: ignored

### else and finally

Here using the else statement, you can instruct a program to execute a certain block of code __only in the absence of exceptions__.

To ensure some code runs no matter what errors occur, you can use a __finally__ statement. The finally statement is placed at the bottom of a try/except statement and else statement, if any.

In [ ]:
try:
    num_1 = 2
    num_2 = 5
    print(num_1/num_2)
except ZeroDivisionError as error:
    print(error)
else:
    try:
        with open('joker.txt') as file:
            read_data = file.readline()
            print(read_data)
    except FileNotFoundError as fnf_error:
        print(fnf_error)
finally:
    print('Getting printed irrespective of any exceptions.')

0.4
[Errno 2] No such file or directory: 'joker.txt'
Getting printed irrespective of any exceptions.

In [ ]:
error = "Divide by ZERO"
try:
    print(1)
    print(10 / 0)
except ZeroDivisionError:
    print(error)
finally:
    print("This is executed last!")

1
Divide by ZERO
This is executed last!

### Assesrtion

An __assertion is a sanity-check__ where an expression is tested, and if the result comes up false, an exception is raised. When it encounters an assert statement, Python evaluates the accompanying expression, which is expected to be true. If the expression is false, Python raises an __AssertionError__ exception.

AssertionError exceptions can be caught and handled like any other exception using the try-except statement, but if not handled, this type of exception will terminate the program.

__But what makes assertion different from try/except?__ [Answer](#ans3)

In [ ]:
assert 1 == 1

In [ ]:
assert 1 == 2

AssertionError: ignored

In [ ]:
def KelvinToFahrenheit(temp):
    assert (temp >= 0),"Colder than absolute zero? Go back to school. -_-"
    return ((temp - 273)*1.8) + 32

print(KelvinToFahrenheit(273))
print(KelvinToFahrenheit(-5))
print(KelvinToFahrenheit(373))

32.0

AssertionError: ignored

# Answers <a name="answer"></a>

### Q1 <a name="ans1"></a>

__Copy the variable to a new variable and then change the new variable.__ Let us discuss it with an example.

In [ ]:
var_1 = 6
var_2 = var_1
var_1 = 9

print("var_1: {}".format(var_1))
print("var_2: {}".format(var_2))

var_1: 9
var_2: 6

In [ ]:
lst_1 = [1,2,3]
lst_2 = lst_1
lst_1.append(4)

print("lst_1: {}".format(lst_1))
print("lst_2: {}".format(lst_2))

lst_1: [1, 2, 3, 4]
lst_2: [1, 2, 3, 4]

__Conclusion:__ Integers are immutable since a change in var_1 was not reflected in var_2 but in case of list, there was a change making them mutable.

This is happening because when you create a list and assign it to a variable (__lst_1__), you have to think of this variable as __POINTING to the list rather than being EQUAL to it__. Whenever you assign another variable (__lst_2__) to the one you already have assigned the list, __both variables point to the SAME list object__. _Any list modifications will affect ALL variables pointing to it_.

## Q2 <a name="ans3"></a>

An assertion would stop the program from running (because you should fix that error or the program is useless), but an exception would let the program continue running (if you use else or finally). In other words, __exceptions address the robustness of your application__ while __assertions address its correctness__. 

Assertions should be used to check something that __should never happen__ while an exception should be used to check something that __might happen__ (something in which you don't have control like user input). 

__NOTE__: The rule is that use __assertions__ when you are trying to __catch your own errors__ (functions or data that are internal to your system), and __exceptions__ when trying to __catch other people's errors__.

Use assertions
* when checking pre-conditions, post-conditions in code
* to provide feedback to yourself or your developer team, making it a great feature for debugging purpose
* when checking for things that are very unlikely to happen otherwise it means that there is a serious ﬂaw in your application
* to state things that you (supposedly) know to be true.

# Home work 3 :

In [ ]:
input = "              I am Priya               "

output = "I am Priya"

In [ ]:
def strip(text):
  for index,item in enumerate(text):
    if item == ' ':
      continue
    else :
      return(text[index:])

x1 = strip(input)
strip(x1[::-1])[::-1]

'I am Priya'

## Practice Questions

### Q1 : Write a Python script to sort (ascending and descending) a dictionary by value

In [ ]:
d = {'a' : 100 , 'b' : 21,'c' : 999 , "d" : 1 }
print(d)

{'a': 100, 'b': 21, 'c': 999, 'd': 1}

In [ ]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
#dir(d)

In [ ]:
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['a', 'b', 'c', 'd'])
dict_values([100, 21, 999, 1])
dict_items([('a', 100), ('b', 21), ('c', 999), ('d', 1)])

In [ ]:
for x in d:
  print(x)

a
b
c
d

In [ ]:
for x in d.items():
  print(x)

('a', 100)
('b', 21)
('c', 999)
('d', 1)

In [ ]:
#Key has to be a function : A custom key function can be supplied to customize the sort order

sorted(d.items() , key = lambda x : x[1])

[('d', 1), ('b', 21), ('a', 100), ('c', 999)]

In [ ]:
#Key has to be a function
sorted(d.items() , key = lambda x : x[1],reverse =  True)

[('c', 999), ('a', 100), ('b', 21), ('d', 1)]

In [ ]:
def sort_order(x):
  return x[1]

sorted(d.items() , key = sort_order)

[('d', 1), ('b', 21), ('a', 100), ('c', 999)]

In [ ]:
sagar = sort_order
sorted(d.items() , key = sagar)

[('d', 1), ('b', 21), ('a', 100), ('c', 999)]

In [ ]:
type(sort_order)

function

In [ ]:
type(sagar)

function

### Q2 : Write a Python program to print all unique values in a dictionary.

In [ ]:
d = {'a' : 100 , 'b' : 100,'c' : 1 , "d" : 1 }
set(d.values())

{1, 100}

# OOP features in Python

Python is an _object-oriented programming_ (OOP) language and objects are created using __class__ which is actually the focal point of OOP, along with __inheritance__ as one of the most concept ever developed.

## Class <a name="class"></a>

The class describes an object's blueprint, description or metadata. Multiple object can be instantiated using the _same class_.

In layman's term, class is a digital representation of the real world entity which contains __properties__ and __behaviors__. As an analogy, the constructors or initializers are the properties and methods are the behaviors.

Classes are created using the keyword __class__ with class name in _Pascal-Case_ format and an indented block, which contains constructor and class _methods_.

Let's take a look at an example.

In [ ]:
# self represents the instance of the class. 
# By using the “self” keyword we can access the attributes and methods of the class in python.
class Pet:
    def __init__(self, g = "dog", n = "Arcanine", o = "Tim"):
        self.genre = g 
        self.name = n
        self.owner = o
        
    def voice(self, sound): #another method added to the class Pet
        print(self.name)
        return sound
        
    def body(self, leg_count=4):
        print("legs: {}".format(leg_count))
        
pokemon = Pet("mouse","Pikachu","Ash")
print(pokemon.name)
print(pokemon.voice("PIIKKAAAA!"))
pokemon.body(2)

Pikachu
Pikachu
PIIKKAAAA!
legs: 2

The **__ init__** method is the most important method in a class which is called when an instance (object) of the class is created. It stores the properties of the class (and typically known as _constructors_ in OOP). __All methods must have self as their first parameter__.

Within the method definition, __self__ refers to the object itself calling the method. From the above example, we see that

```
pokemon = Pet("mouse","Pikachu","Ash")
print(pokemon.name)
>>> Pikachu
```

* When we create the pokemon object from the class Pet, we are passing _genre, name and owner_ as _"mouse", "Pikachu", "Ash"_ and the object (pokemon) will take the place of self.
* The attributes are accessed using the __dot__ operator.
* So __pokemon is the object__, "_Pikachu_" is the value of the __name__ attribute of this object. 

Hence, we can access the attributes in a class using this way: __object.attributes__.

Classes can have other methods defined to add functionality to them. These methods are accessed using the same dot syntax as attributes.

Trying to access an attribute of an instance that isn't defined causes an __AttributeError__.

## Inheritance

If the class is a __specialized version of another class__, then it is called inheritance. When one class inherits from another, it __automatically__ takes on all the attributes and methods of the parent class. The child class is free to introduce and override attributes and methods of the parent class.

To inherit from another class, _include the name of the parent class in **parentheses**_ when defining the new class.

In [ ]:
class Car():
    """A simple class to model a car."""
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        # Fuel capacity and level in gallons
        self.fuel_capacity = 15
        self.fuel_level = 0
    
    def fill_tank(self, fuel_level):
        """Fill gas tank to capacity."""
        if self.fuel_level == self.fuel_capacity:
            print("Fuel tank is full!")
        else:
            fill_prop = (self.fuel_level/self.fuel_capacity)*100
            print("Fuel tank is {}% filled".format(fill_prop))
    
    def drive(self, mode="MANUAL"):
        """Simulate driving."""
        print("MODE: {} | Car in motion!".format(self.mode))
        
class ElectricCar(Car):
    """A simple class of an electric car."""
    def __init__(self, make, model, year):
        super().__init__(make, model, year)
        # Attributes specific to electric cars.
        # Battery capacity in kWh.
        self.battery_size = 70
        # Charge level in %.
        self.charge_level = 0
        
    def charge(self):
        """Fully charge the vehicle."""
        self.charge_level = 100
        print("The vehicle is fully charged.")

# Lambda <a name="lambda"></a>

In Python, __anonymous function__ means a function __without a name__, whereas we use _def_ keyword to create normal functions. The __lambda__ function is used for creating _small, one-time and anonymous_ function objects in Python. The lambda operator can have __any number of arguments__, but it can have __only one expression__. The lambda functions can be assigned to variables, and used like normal functions.

Use lambda functions when an anonymous function is required for a short period of time.

In [ ]:
add = lambda x , y : x + y
add(1,2)

3

In [ ]:
max_ = lambda x , y : x if x > y else y
min_ = lambda x , y : x if x < y else y

In [ ]:
max_(1,2)

2

In [ ]:
min_(1,2)

1

In [ ]:
max = add
max(1,2)

3

In [ ]:
#named function
def polynomial(x,y):
    '''
    Function to perform a polynomial calculation having a single variable x
    '''
    return x**2 + 5*y + 4

print("The result for named function: {}".format(polynomial(-4,2)))

#========== OR ============

#lambda
poly = lambda x,y: x**2 + 5*y + 4
print("The result for anonymous function: {}".format(poly(-4,2)))

The result for named function: 30
The result for anonymous function: 30

# First-Class Functions

In OOP, there is a concept of __first-class function__ which are basically functions treated as __first-class citizen (/object)__, which in turn is an entity that can be
* dynamically created, destroyed
* can be stored in a v-ariable
* passed to a function as argument
* returned as a value from a function

Let's see an example below for all of these properties:

In [ ]:
# functions can be assigned to a variable

def my_pymon(text):
    return "Let's go, {}".format(text.upper())

i_choose_you = my_pymon
print(i_choose_you('PYkachu'))
print("="*20)

Let's go, PYKACHU
====================

In [ ]:

# functions can be passed as argument to another function

def your_pymon(text):
    return f"{text}"

def trainer_select(func): #func = your_pymon
    print(func("I choose you, 'char'mander"))

trainer_select(your_pymon)
print("="*20)

I choose you, 'char'mander
====================

In [ ]:
# function returned as a value from another function

def battle_began_with(mons):
    #mons = char'mander
    def who_won(someone):
        return f"In the battle, {someone} won against {mons}"
    return who_won

battle = battle_began_with("'char'mander") #who_won
battle_result = battle("PYkachu")
print(battle_result)

In the battle, PYkachu won against 'char'mander

## Map, Filter & Reduce <a name="map"></a>

A function accepting other function as argument or returns function as a result is called __higher-order function__. The built-in functions __map__, __filter__ and __reduce__ are very useful higher-order functions that operate on iterable objects (such as list, dict).

The function __map__ takes a function and an iterable as _arguments_, and returns a _new iterable_ with the function applied to each argument.

The function __filter__ filters an iterable by removing items that don't match a __predicate (a function that returns ONLY Boolean True)__.

The function __reduce__ applies a rolling computation to sequential pairs of values in a iterable i.e., wanted to compute the product of a list items, sum of tuple items.

__NOTE__: Both in map and filter, the result has to be explicitly converted to a list or tuple if you want to print it. Python 2 returns a list by default, but this was changed in Python 3 which returns map or filter object.

In [ ]:
list(map(lambda x : x**2 ,[1,2,3,4]))

[1, 4, 9, 16]

In [ ]:
list(map(lambda x , y: x + y ,[1,2,3,4],[1,2,3,4]))

[2, 4, 6, 8]

In [ ]:
# map
num_var = [1, 2, 3, 4, 5]

def pow_func(par):
    return pow(par, par-1)

def my_map_func(the_func, the_iterable):
    res = []
    for i in the_iterable:
        res.append(the_func(i))
    return res

map_result_1 = my_map_func(pow_func, num_var)
print("My MAP FUNCTION result: {}".format(map_result_1))


map_result_2 = list(map(lambda x: pow(x,x-1), num_var))
print("In-built MAP FUNCTION result: {}".format(map_result_2))

My MAP FUNCTION result: [1, 2, 9, 64, 625]
In-built MAP FUNCTION result: [1, 2, 9, 64, 625]

In [ ]:
num_var = [1, 2, 9, 64, 625]
list(filter(lambda x: x%2==0, num_var))

[2, 64]

In [ ]:
def filter(func_,iterable_):
  res = []
  for i in iterable_ :
    if func_(i):
      res.append(i)
    else :
      pass
  return res

func_ = lambda x: x%2==0
num_var = [1, 2, 9, 64, 625]


filter(func_ , num_var)

[2, 64]

In [ ]:
# filter
def cond_func(par):
    return par%2

def my_filter_func(the_func, the_iterable):
    res = []
    for i in the_iterable:
        if the_func(i)==0:
            res.append(i)
        else:
            pass
    return tuple(res)

filter_result_1 = my_filter_func(cond_func, num_var)
print("My FILTER FUNCTION result: {}".format(filter_result_1))


filter_result_2 = tuple(filter(lambda x: x%2==0, num_var))
print("In-built FILTER FUNCTION result: {}".format(filter_result_2))

My FILTER FUNCTION result: (2, 64)
In-built FILTER FUNCTION result: (2, 64)

In [ ]:
# reduce
from functools import reduce

help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [ ]:
num_var = [1, 2, 3, 4, 5]

fn = lambda x , y : x + y

reduce(fn,num_var,1)

16

In [ ]:
reduce_result = reduce((lambda x,y: x*y), num_var)
print(reduce_result)

120

In [ ]:
reduce_result = reduce((lambda x,y: x*y), num_var,0)
print(reduce_result)

0

__Small task__

* Do the same thing shown above in filter code using list comprehension.
* Solve this:

```
res = tuple(map(lambda x: x%2==0,num_var))
```

In [ ]:
[ i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Answer
num_var = [1, 2, 3, 4, 5]
filter_result = [i for i in num_var if i%2==0]
print(tuple(filter_result))

res = tuple(map(lambda x: x%2==0,num_var))
print(res)

res = tuple(map(lambda x: x if x%2==0 else 0, num_var))
print(res)

(2, 4)
(False, True, False, True, False)
(0, 2, 0, 4, 0)

In [ ]:
list(filter(lambda x: x%2==0,num_var))

[2, 4]

In [ ]:
# what do you think is the output?
mylist = [1,2,3,4,5]

def my_func(x):
    if x>2:
        return x
    else:
        return 0

print(tuple(map(lambda x: x if x>2 else 0, mylist)))
print(list(filter(lambda x: x if x>2 else 0, mylist)))

(0, 0, 3, 4, 5)
[3, 4, 5]

Q1 :

In [ ]:
# What does the following code print?

add_one = lambda x: x + 1
print(add_one(7))

8

In [ ]:
#What does the following code print?

multiply_by_two = lambda x: x * 2
numbers = [1, 2, 3]
doubled = map(multiply_by_two, numbers)
print(doubled)
doubled_list = list(doubled)
print(doubled_list)

<map object at 0x7f5315eca650>
[2, 4, 6]

In [ ]:
#What does the following code print?

letters = ["beach", "car"]
funified = list(map(lambda word: f"{word} is fun!", letters))
print(funified)

['beach is fun!', 'car is fun!']

In [ ]:
#What does the following code print?

nums = [3, 5, 16, 27]
some_nums = list(filter(lambda num: num < 10, nums))
print(some_nums)

[3, 5]

In [ ]:
#What does the following code print?

from functools import reduce
words = ["mary", "had", "a", "little", "lamb"]
biggest_word = reduce(lambda x, y: x if len(x) > len(y) else y, words)
print(biggest_word)

little

## Generator

__Generator__ is a block of code, same as defining a function, having a __yield__ statement instead of a __return__ statement. If a function contains **at least one yield** statement (it may contain other yield or return statements), it becomes a generator!

The yield statement suspends function’s execution and sends a value back to caller, but retains enough capability to enable function to resume where it is left off. When resumed, the function continues execution immediately after the last yield run. This allows its code to produce a series of values over time, rather than computing them at once and sending them back like a list. __We should use yield when we want to iterate over a sequence, but don’t want to store the entire sequence in memory__.

This is how the above Fibonacci number code looks like using generator.

In [ ]:
def sample_generator():
  yield "Priya1"
  yield "Priya2"
  yield "Priya3"
  yield "Priya4"

In [ ]:
samp = sample_generator()

In [ ]:
type(samp)

generator

In [ ]:
next(samp)

'Priya1'

In [ ]:
next(samp)

'Priya2'

In [ ]:
next(samp)

'Priya3'

In [ ]:
next(samp)

'Priya4'

In [ ]:
next(samp)

StopIteration: ignored

In [ ]:
samp1 = sample_generator()
for f in samp1:
  print(f)

Priya1
Priya2
Priya3
Priya4

In [ ]:
samp1 = sample_generator()
list(islice(f, 0, 10))

['P', 'r', 'i', 'y', 'a', '4']

In [ ]:
from itertools import islice
help(islice)

Help on class islice in module itertools:

class islice(builtins.object)
 |  islice(iterable, stop) --> islice object
 |  islice(iterable, start, stop[, step]) --> islice object
 |
 |  Return an iterator whose next() method returns selected values from an
 |  iterable.  If start is specified, will skip all preceding elements;
 |  otherwise, start defaults to zero.  Step defaults to one.  If
 |  specified as another value, step determines how many values are
 |  skipped between successive calls.  Works like a slice() on a list
 |  but returns an iterator.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __setstate__(...)
 |      Set state information for unpickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:

def fib():
    prev, curr = 0, 1
    while True:
        yield curr
        print(curr)
        prev, curr = curr, prev + curr

f = fib()
print(list(islice(f, 0, 10)))

1
1
2
3
5
8
13
21
34
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

#Advance Concepts

In [1]:
a , b , c = 1,2,3
print(a)
print(b)
print(c)

1
2
3

In [2]:
print('a : ',a)
print('b : ',b)
a , b = b , a
print('a : ',a)
print('b : ',b)

a :  1
b :  2
a :  2
b :  1

In [3]:
a , b , c = 1 ,2 ,3 , 4

ValueError: ignored

In [4]:
a , b , c = [1 ,2 ,3 , 4]

ValueError: ignored

In [5]:
a , *b , c = [1 ,2 ,3 , 4]
print(a)
print(b)
print(c)

1
[2, 3]
4

In [6]:
a , b , *c = [1 ,2 ,3 , 4]
print(a)
print(b)
print(c)

1
2
[3, 4]

In [7]:
*a , b , c = [1 ,2 ,3 , 4]
print(a)
print(b)
print(c)

[1, 2]
3
4

In [16]:
def add(*args):
  print(args)

  return(sum(args))

In [17]:
add(1,2)

(1, 2)

3

In [18]:
add(1,2,3,4)

(1, 2, 3, 4)

10

In [19]:
add(1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7)

28

In [20]:
add(1,2,3,a = 10,b = 100)

TypeError: ignored

In [27]:
def add(*args,**kwargs):
  print(args)
  print(kwargs)
  #return(sum(args))
  return(sum(kwargs.values()))

In [28]:
add(1,2,3,a = 10,b = 100)

(1, 2, 3)
{'a': 10, 'b': 100}

110