<a href="https://colab.research.google.com/github/sagar9926/Python_For_DataScience/blob/master/DataStructures/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Lists :

* A list is a data structure in Python that is a mutable, or changeable
* Lists are collection of items (Strings, integers or even other lists)
* In Python lists are written with square brackets.
* List in python are used to store  hetereogeneous elements


### Summary :

### Lists Properties : ordered, iterable, mutable, can contain multiple data types

## Creating a list :

In [4]:
# create an empty list (two ways)
empty_list =[]
empty_list =list()

# create a listsimpsons =['homer','marge','bart']

lst1 = ['My', 'name', 'is', 'Sagar'] # list of strings

lst2 = [1, 2, 3, 4] #list of integers

lst3 = [[1, 2], [3, 4]] # list of lists

lst4 = [1, 'ramu', 24, 1.24] # list of different datatypes

print(lst4)

[1, 'ramu', 24, 1.24]

### What is meant by a list being mutable ?
### Lists are ordered and mutable which means that we can change their content without changing their identity

In [5]:
#Mutability in lists
lst4[0] = "Sagar"
print(lst4)

['Sagar', 'ramu', 24, 1.24]

### What is the utility of list being Ordered ?
### Lists in Python store ordered collections of items or objects, we can say that they are sequence types, precisely because they behave like a sequence. Other types that are also considered to be sequence types are strings and tuples.

### In simple words Sequence type  means that the program can iterate over them! This is why lists, strings, tuples, and sets are called “iterables”.

## Indexing Lists:

* Each item in a list corresponds to an index number, which is an integer value, starting with the index number 0.

| List Item  | My    | name          | is       | Sagar|
| ------------- | ------------- |------------- | ------------- | ------------- |
| Index value(from Beginning) | 0 | 1 | 2  |3|
| Index value(from End)  | -4|-3| -2  |-1|

In [6]:
#Forward
print(lst1[0])
print(lst1[1])
print(lst1[2])
print(lst1[3])
print("")
#Backward
print(lst1[-1])
print(lst1[-2])
print(lst1[-3])
print(lst1[-4])

My
name
is
Sagar

Sagar
is
name
My

### Functions on lists :

In [7]:
#Length of list

print("Length of list :{}".format(len(lst4)))

Length of list :4

### Functions which modifies a list(does not return lists):

In [8]:
# append 
print(lst4)
lst4.append(5)
print(lst4)

['Sagar', 'ramu', 24, 1.24]
['Sagar', 'ramu', 24, 1.24, 5]

In [9]:
#Extend 

print(lst4)
lst4.extend(5)
print(lst4)

['Sagar', 'ramu', 24, 1.24, 5]

TypeError: ignored

### Difference between append() and extend():-

### append(): Adds its argument as a single element to the end of a list. The length of the list increases by one.

### extend(): Iterates over its argument and adding each element to the list and extending the list. The length of the list increases by number of elements in it’s argument.

In [10]:
#append() Examples

test = [1,2,3,4]

print(test)
print(len(test))

test.append("sagar") #appending a string
print(test)
print(len(test))

test.append(["kumar","Agrawal"]) # appending a list in a list
print(test)
print(len(test))

[1, 2, 3, 4]
4
[1, 2, 3, 4, 'sagar']
5
[1, 2, 3, 4, 'sagar', ['kumar', 'Agrawal']]
6

**Clearly from above example we can see that the append always increases the length of string by 1 element**

In [11]:
#extend() Examples

test = [1,2,3,4]

print(test)
print(len(test))


test.extend("Sagar") #appending a string
print(test)
print(len(test))

test.extend(["Kumar","Agrawal"]) # appending a list in a list
print(test)
print(len(test))

test.extend(["BUNNY"]) # appending a list in a list
print(test)
print(len(test))

[1, 2, 3, 4]
4
[1, 2, 3, 4, 'S', 'a', 'g', 'a', 'r']
9
[1, 2, 3, 4, 'S', 'a', 'g', 'a', 'r', 'Kumar', 'Agrawal']
11
[1, 2, 3, 4, 'S', 'a', 'g', 'a', 'r', 'Kumar', 'Agrawal', 'BUNNY']
12

### Insert : 
### The insert() function takes two parameters:



*   index - position where an element needs to be inserted
*   element - this is the element to be inserted in the list

In [12]:
lst = [1,2,3,4]
print(lst)
lst.insert(0,'sagar') # insert element at index 0 (shifts everything right)
print(lst)
lst.insert(-1,"agrawal")
print(lst)
lst.insert(-1,"agrawal")
print(lst)

[1, 2, 3, 4]
['sagar', 1, 2, 3, 4]
['sagar', 1, 2, 3, 'agrawal', 4]
['sagar', 1, 2, 3, 'agrawal', 'agrawal', 4]

### remove() : search for first instance and remove it

In [13]:
print(lst)
lst.remove('agrawal')# search for first instance and remove it

print(lst)

['sagar', 1, 2, 3, 'agrawal', 'agrawal', 4]
['sagar', 1, 2, 3, 'agrawal', 4]

In [14]:
print(lst)
x = lst.pop(0)# remove element 0 and return it
print("popped element : {}".format(x))
print(lst)
del lst[0]# remove element 0 (does not return it)
print(lst)

['sagar', 1, 2, 3, 'agrawal', 4]
popped element : sagar
[1, 2, 3, 'agrawal', 4]
[2, 3, 'agrawal', 4]

### in and not in list key words :

In [15]:
#keyword 'in' is used to test if an item is in a list
lst = ["A","B","C","D"]

if 'B' in lst:
    print('deep')

#keyword 'not' can combined with 'in'
if 'E' not in lst:
    print('learning')

deep
learning

### Sorting list:


*   list_name.sort () : method sort's a list in place (modifies but does not return the list)
*   sorted(list_name) : return a sorted list (does not modify the original list)

In [0]:
lst = [10,283,4,7,293,3,2,41]

In [17]:
lst.sort()
print(lst)

[2, 3, 4, 7, 10, 41, 283, 293]

In [18]:
lst.sort(reverse = True)
print(lst)

[293, 283, 41, 10, 7, 4, 3, 2]

In [19]:
lst = ["saga","kakakaka","gdgdgreger","aaaaaaaaaaaaaaaaaaaaaaaaa","AA","C"]
lst.sort(key = len)
print(lst)

['C', 'AA', 'saga', 'kakakaka', 'gdgdgreger', 'aaaaaaaaaaaaaaaaaaaaaaaaa']

In [20]:
sorted(lst)
sorted(lst,reverse=True)
sorted(lst,key=len)

['C', 'AA', 'saga', 'kakakaka', 'gdgdgreger', 'aaaaaaaaaaaaaaaaaaaaaaaaa']

### Referencing Vs Copying :

In [21]:
num = [4,5,6,7]
print(num)
# create a second reference to the same list 
same_num =num
print(same_num)
same_num[0]=0 # modifies both 'num' and 'same_num'
print(num)
print(same_num)

[4, 5, 6, 7]
[4, 5, 6, 7]
[0, 5, 6, 7]
[0, 5, 6, 7]

In [22]:
# copy a list (two ways)
new_num =num[:]
new_num =list(num)
# examine objects
num is same_num # returns True (checks whether they are the same object)

True

In [23]:
num is new_num # returns False

False

In [24]:
num == same_num # returns True (checks whether they have the same contents)

True

In [25]:
num ==new_num # returns True

True

### How To Convert A List To A String?

In [26]:
lst = ["My","Name","is","Sagar","Agrawal"]
print(lst)
print("")
lst_to_string = " ".join(lst)
print(lst_to_string)

['My', 'Name', 'is', 'Sagar', 'Agrawal']

My Name is Sagar Agrawal

In [27]:
# List Of Integers to a String
listOfNumbers = [1, 2, 3]
strOfNumbers = ''.join(str(n) for n in listOfNumbers)
print(strOfNumbers)

123

### How To Convert A string To A List?

In [28]:
string_to_list = lst_to_string.split(" ")
print(string_to_list)

['My', 'Name', 'is', 'Sagar', 'Agrawal']

In [29]:
string_to_list = lst_to_string.split()
print(string_to_list)

['My', 'Name', 'is', 'Sagar', 'Agrawal']

In [30]:
list(lst_to_string) #splitting alphabetically

['M',
 'y',
 ' ',
 'N',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'S',
 'a',
 'g',
 'a',
 'r',
 ' ',
 'A',
 'g',
 'r',
 'a',
 'w',
 'a',
 'l']

### List Slicers :

### List Comprehensions :

Syntax : output_list = [output_exp for var in input_list if (var satisfies this condition)]

In [0]:
# Constructing output list WITHOUT 
# Using List comprehensions 
input_list = [1, 2, 3, 4, 4, 13, 6, 7, 7] 
  
output_list = [] 
  
# Using loop for constructing output list 
for var in input_list: 
    if var % 2 == 0: 
        output_list.append(var)

In [32]:
output_list = [var for var in input_list if(var%2 == 0)]
print(output_list)

[2, 4, 4, 6]