<a href="https://colab.research.google.com/github/sagar9926/Python_For_DataScience/blob/master/DataStructures/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Lists :

* A list is a data structure in Python that is a mutable, or changeable
* Lists are collection of items (Strings, integers or even other lists)
* In Python lists are written with square brackets.
* List in python are used to store  hetereogeneous elements


### Summary :

### Lists Properties : ordered, iterable, mutable, can contain multiple data types

## Creating a list :

In [1]:
# create an empty list (two ways)
empty_list =[]
empty_list =list()

# create a listsimpsons =['homer','marge','bart']

lst1 = ['My', 'name', 'is', 'Sagar'] # list of strings

lst2 = [1, 2, 3, 4] #list of integers

lst3 = [[1, 2], [3, 4]] # list of lists

lst4 = [1, 'ramu', 24, 1.24] # list of different datatypes

print(lst4)

[1, 'ramu', 24, 1.24]

### What is meant by a list being mutable ?
### Lists are ordered and mutable which means that we can change their content without changing their identity

In [2]:
#Mutability in lists
lst4[0] = "Sagar"
print(lst4)

['Sagar', 'ramu', 24, 1.24]

### What is the utility of list being Ordered ?
### Lists in Python store ordered collections of items or objects, we can say that they are sequence types, precisely because they behave like a sequence. Other types that are also considered to be sequence types are strings and tuples.

### In simple words Sequence type  means that the program can iterate over them! This is why lists, strings, tuples, and sets are called “iterables”.

## Indexing Lists:

* Each item in a list corresponds to an index number, which is an integer value, starting with the index number 0.

| List Item  | My    | name          | is       | Sagar|
| ------------- | ------------- |------------- | ------------- | ------------- |
| Index value(from Beginning) | 0 | 1 | 2  |3|
| Index value(from End)  | -4|-3| -2  |-1|

In [4]:
#Forward
print(lst1[0])
print(lst1[1])
print(lst1[2])
print(lst1[3])
print("")
#Backward
print(lst1[-1])
print(lst1[-2])
print(lst1[-3])
print(lst1[-4])

My
name
is
Sagar

Sagar
is
name
My

### Functions on lists :

In [5]:
#Length of list

print("Length of list :{}".format(len(lst4)))

Length of list :4

### Functions which modifies a list(does not return lists):

In [6]:
# append 
print(lst4)
lst4.append(5)
print(lst4)

['Sagar', 'ramu', 24, 1.24]
['Sagar', 'ramu', 24, 1.24, 5]

In [10]:
#Extend 

print(lst4)
lst4.extend(5)
print(lst4)

['Sagar', 'ramu', 24, 1.24, 5, 5]

TypeError: ignored

### Difference between append() and extend():-

### append(): Adds its argument as a single element to the end of a list. The length of the list increases by one.

### extend(): Iterates over its argument and adding each element to the list and extending the list. The length of the list increases by number of elements in it’s argument.

In [12]:
#append() Examples

test = [1,2,3,4]

print(test)
print(len(test))

test.append("sagar") #appending a string
print(test)
print(len(test))

test.append(["kumar","Agrawal"]) # appending a list in a list
print(test)
print(len(test))

[1, 2, 3, 4]
[1, 2, 3, 4, 'sagar']
5
[1, 2, 3, 4, 'sagar', ['kumar', 'Agrawal']]
6

**Clearly from above example we can see that the append always increases the length of string by 1 element**

In [15]:
#extend() Examples

test = [1,2,3,4]

print(test)
print(len(test))


test.extend("Sagar") #appending a string
print(test)
print(len(test))

test.extend(["Kumar","Agrawal"]) # appending a list in a list
print(test)
print(len(test))

[1, 2, 3, 4]
4
[1, 2, 3, 4, 'S', 'a', 'g', 'a', 'r']
9
[1, 2, 3, 4, 'S', 'a', 'g', 'a', 'r', 'Kumar', 'Agrawal']
11

### Insert : 
### The insert() function takes two parameters:



*   index - position where an element needs to be inserted
*   element - this is the element to be inserted in the list

In [21]:
lst = [1,2,3,4]
print(lst)
lst.insert(0,'sagar') # insert element at index 0 (shifts everything right)
print(lst)
lst.insert(-1,"agrawal")
print(lst)
lst.insert(-1,"agrawal")
print(lst)

[1, 2, 3, 4]
['sagar', 1, 2, 3, 4]
['sagar', 1, 2, 3, 'agrawal', 4]
['sagar', 1, 2, 3, 'agrawal', 'agrawal', 4]

In [22]:
print(lst)
lst.remove('agrawal')# search for first instance and remove it

print(lst)

['sagar', 1, 2, 3, 'agrawal', 'agrawal', 4]
['sagar', 1, 2, 3, 'agrawal', 4]